/* Estilo para el cuerpo del documento */
body {
    background-color: rgba(241, 241, 198, 0.612);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para el título principal */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
}

/* Estilo para la tabla */
table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
    max-width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1em;
}

th {
    color: rgb(6, 6, 6);
    font-size: 1.3em;
    font-style: oblique;
}

td {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

/* Colores para las materias */
.formulacion {
    background-color: #e0f7fa;
}

.inteligencia {
    background-color: #8bc8453f;
}
.inteligencia-lab {
    background-color: #54f7a240;
}
.arquitectura {
    background-color: #ee3df43e;
}
.arquitectura-lab {
    background-color: #75aeda55;
}

.estructuras {
    background-color: #d1c4e9;
}

.software {
    background-color: #fff9c4;
}

.software-lab {
    background-color: #ea432223;
}
.Practica {
    background-color: #c00a0a3e;
}

/* Estilo de hover para las celdas con contenido */
/* Estilo de hover para las celdas con contenido */
td:not(.vacio):hover {
    background-color: rgba(157, 208, 208, 0.308); /* Efecto hover claro */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Añade transición suave */
}

/* Estilo para las celdas vacías */
.vacio {
    background-color: rgba(226, 239, 111, 0.103);
    position: relative;
}

.vacio:hover {
    background-color:rgba(157, 208, 208, 0.308)
}
.vacio:hover::after {
    color: rgba(238, 229, 229, 0.597);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 200, 200, 0.742);
    padding: 2px 5px;
    border-radius: 3px;
}

/* Ventana flotante para mostrar los nombres de los profesores */
.profesor-info {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profesor-info.visible {
    display: block;
}

/* Estilo responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    td,
    th {
        font-size: 0.9em;
    }

    .profesor-info {
        width: 90%;
    }
}
