/* Estilo para el cuerpo del documento */
body {
    background-color: rgba(240, 240, 235, 0.225);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para el título principal */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
}

/* Estilo para la tabla */
table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
    max-width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1em;
}

th {
    color: rgb(6, 6, 6);
    font-size: 1.3em;
    font-style: oblique;
}

td {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

/* Colores para las materias */
.formulacion {
    background-color: #e0f7fa;
}

.inteligencia {
    background-color: #ffecb3;
}

.arquitectura {
    background-color: #ee3df43e;
}

.estructuras {
    background-color: #d1c4e9;
}

.software {
    background-color: #fff9c4;
}

.software-lab {
    background-color: #f8bbd0;
}

/* Estilo de hover para las celdas con contenido */
td:not(.vacio):hover {
    background-color: rgba(252, 254, 255, 0.72);
    cursor: pointer;
}

/* Estilo para las celdas vacías */
.vacio {
    background-color: rgba(244, 245, 235, 0.225);
    position: relative;
}

.vacio:hover {
    background-color: rgba(37, 244, 18, 0.146);
}

.vacio:hover::after {
    content: "Libre";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.21);
    padding: 2px 5px;
    border-radius: 3px;
}

/* Ventana flotante para mostrar los nombres de los profesores */
.profesor-info {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profesor-info.visible {
    display: block;
}

/* Estilo responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    td,
    th {
        font-size: 0.9em;
    }

    .profesor-info {
        width: 90%;
    }
}
